@use "../utils/variables";

.btn {
  display: inline-flex;
  align-items: center;
  font-family: variables.$main-font;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding: 15px 48px 16px;
  border-radius: 100px;
  border: 1px solid;
  justify-content: center;
  transition: .35s;

  &__icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 16px;

    svg {
      color: inherit;
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &_green {
    background-color: #46B600;
    color: #ffffff;

    &:hover,
    &:focus {
      background-color: #50C904;
    }

    &:active {
      background-color: #40A600;
    }
  }

  &_light-green {
    color: #ffffff;
    background-color: rgba(70, 182, 0, .15);
    border-color: #80C41C;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 2px rgba(128, 196, 28, 1);
    }

    &:active {
      box-shadow: 0 0 0 2px rgba(128, 196, 28, 1);
      background-color: rgba(56, 147, 0, .15);
    }
  }

  &_glass {
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, .15);
    color: #ffffff;
    &:hover,
    &:focus {
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
    }
  }

  &_stroke {
    border-color: #ffffff;
    background-color: transparent;
    color: #ffffff;
    &:hover,
    &:focus {
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
    }
  }

  &_stroke-green {
    border: 1px solid #46B600;
    background-color: transparent;
    color: #46B600;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 1px rgba(70, 182, 0, 1);
    }

    &:active {
      color: #42A901;
      box-shadow: 0 0 0 1px rgba(70, 182, 0, 1);
    }
  }
}

