.btn {
  display: inline-flex;
  align-items: center;
  font-family: $main-font;
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.02em;

  padding: 21px 48px;

  border-radius: 100px;
  border: 1px solid;


  &__icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 8px;

    svg {
      color: inherit;
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &_light-green {
    color: #ffffff;
    background-color: rgba(70, 182, 0, .15);
    border-color: #80C41C;
  }

  &_glass {
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, .15);
    color: #ffffff;
    font-size: 20px;
  }

  //
  //  &:hover,
  //  &:focus {
  //    .btn__icon {
  //      transform: translateY(-50%) rotate(-90deg);
  //    }
  //  }
  //
  //  &_light {
  //    background-color: $white;
  //    color: $black;
  //  }
  //
  //  &_dark {
  //    background-color: $black;
  //    color: $white;
  //
  //    .btn__icon {
  //      filter: invert(1);
  //    }
  //  }
  //
  //  &__icon {
  //    position: absolute;
  //    display: block;
  //    background-repeat: no-repeat;
  //    background-size: contain;
  //    background-position: center;
  //    right: 15px;
  //    top: 50%;
  //    transform: translateY(-50%);
  //    width: 20px;
  //    height: 20px;
  //    z-index: 1;
  //    transition: .5s;
  //  }
}

@media screen and (max-width: 1920px) {

}

@include respond-to($xxl) {

}

@include respond-to($md) {

}