// fonts

$main-font: "Futura PT", sans-serif;

// bg and color
$white: #ffffff;
$black: #000000;
// Screen Variables

$xs: '(max-width: 375px)';
$sm: '(max-width: 567px)';
$md: '(max-width: 767px)';
$lg: '(max-width: 1023px)';
$xl: '(max-width: 1280px)';
$xxl: '(max-width: 1440px)';



