// fonts

$main-font: "Futura PT", sans-serif;

// bg and color
$white: #ffffff;
$black: #000000;
// Screen Variables

$xs: '(max-width: 375px)';
$sm: '(max-width: 568px)';
$md: '(max-width: 768px)';
$lg: '(max-width: 991px)';
$xl: '(max-width: 1279px)';
$xxl: '(max-width: 1440px)';



