html {
  font: 400 16px/1.2 $main-font;
}

body {
  font-size: 24px;
  color: #20261F;
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
}

.overlay,
.backdrop {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  background-color: #070707;
  opacity: .35;
}

.overlay.show {
  display: block;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.text_uppercase {
  text-transform: uppercase;
}

.color_green {
  color: #46B600;
}

.section {
  padding: 88px 0 80px;

  &__title {
    text-transform: uppercase;
    margin-bottom: 64px;

    sup {
      font-size: .56em;
    }
  }
}

.disclaimer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.disclaimer_main {
  display: flex;
  align-items: center;
  height: 15vh;
  padding: 16px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  background: rgba(255, 255, 255, .01);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  color: #ffffff;

  &.scroll {
    color: #AAC291;
  }

  svg {
    display: block;
    width: 100%;
  }
}

.dynamic-content {

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5em;
  }

  a {
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  ul {
    margin-bottom: 20px;

    li {
      position: relative;
      margin-bottom: 7px;
      padding-left: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #262522;
        left: 0;
        top: 13px;
      }
    }
  }

  ol {
    counter-reset: list;
    margin-bottom: 20px;

    li {
      position: relative;
      margin-bottom: 7px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        counter-increment: list;
        content: counter(list) ". ";
      }
    }
  }


  img.alignright {
    float: right;
    margin: 0 0 1.2em 1.2em
  }

  img.alignleft {
    float: left;
    margin: 0 1.2em 1.2em 0
  }

  img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  a img.alignright {
    float: right;
    margin: 0 0 1.2em 1.2em
  }

  a img.alignleft {
    float: left;
    margin: 0 1.2em 1.2em 0
  }

  a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
}

@media screen and (max-width: 1920px) {

}

@include respond-to($lg) {
  .section {
    padding: 76px 0 64px;
  }
}

@include respond-to($md) {


}

@include respond-to($sm) {
  .section {
    padding: 48px 0 32px;


    &__title {
      margin-bottom: 48px;
    }
  }
}




