.title{
  font-size: 72px;
  font-weight: 600;
  line-height: 70.4px;
  letter-spacing: -0.02em;
  text-align: center;
}
.title_lg{
  font-size: 76px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
}
.title_md{
  font-size: 68px;
  line-height: 1.1;
}
.title_sm{
  font-size: 18px;
  line-height: 1.2;
}

@include respond-to($sm) {
  .title{
    font-size: 48px;
    line-height: 55.2px;
  }
  .title_lg{
    font-size: 48px;
    line-height: 57.6px;
  }
}

