@use "../utils/mixins";
@use "../utils/variables";

.title{
  font-size: 50px;
  font-weight: 600;
  line-height: .98;
  letter-spacing: -0.02em;
  text-align: center;
}
.title_lg{
  font-size: 76px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
}
.title_md{
  font-size: 68px;
  line-height: 1.1;
}
.title_sm{
  font-size: 18px;
  line-height: 1.2;
}

@include mixins.respond-to(variables.$sm) {
  .title{
    font-size: 48px;
    line-height: 55.2px;
  }
  .title_lg{
    font-size: 48px;
    line-height: 57.6px;
  }
}

.main_hot{
  .title_lg{
    font-size: 80px;
    font-weight: 450;
    line-height: .9;
    letter-spacing: -0.02em;
  }
  .section__title{
    font-size: 50px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -0.02em;
  }
}