.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #8EAE6C;

  &.scroll {
    .btn {
      background-color: #46B600;
    }

    .menu__link,
    .sub-menu__link {
      color: #20261F;
    }

    .menu__link:hover,
    .sub-menu__link:hover {
      color: #46B600;
    }

    .header__logo {
      color: #46B600;
    }
  }

  &:before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(255, 255, 255, .01);
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    z-index: 0;
  }

  .container {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;


  }

  &__logo {
    max-width: 135px;
    display: inline-block;
    color: #FFFFFF;
    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__logo-wrapper {
    height: 100%;
    padding-right: 43px;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      display: block;
      background-color: #8EAE6C;
      width: 1px;
      height: 80px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      bottom: 0;
      z-index: 1;
    }
  }

  .btn_light-green {
    margin-left: auto;
    padding: 15px 32px;
    font-size: 18px;
    text-transform: uppercase;
  }

  .btn__icon {
    margin-right: 16px;
  }
}

.btn-burger,
.btn_close {
  display: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-burger {
  background-image: url(../assets/img/burger.svg);
  //background-size: 20px 20px;
  //border: 1px solid #000000;
  //border-radius: 100px;
  //padding: 16px;
  //width: 38px;
  //height: 38px;
  //margin-left: 10px;
}

.btn_close {
  //width: 38px;
  //height: 38px;
  background-image: url(../assets/img/close.svg);
  background-color: transparent;
  border: none;
  //background-size: 32px 32px;
  //margin-left: auto;
}


@media screen and (max-width: 1920px) {
  .header {

  }
}

@include respond-to($xxl) {

}

@include respond-to($xl) {

}

@media screen and (max-width: 1080px) {
  .header {
    .btn_close,
    .btn-burger {
      display: block;
    }

    &__nav {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 100vh;
      background: #ffffff;
      padding: 50px 50px 100px;
      border-radius: 0 0 16px 16px;
      transform: translateY(-100%);
      transition: .5s;
      z-index: 600;
      width: 100%;
      display: flex;
      flex-direction: column;

      &-logo {

      }

      &.open {
        transform: translateY(0);
        transition: .5s;
      }
    }

    &__logo {

    }
  }
}

@include respond-to($md) {

}

@include respond-to($sm) {

}

