.container {
  max-width: 1280px;
  padding: 0 40px;
  width: 100%;
  margin: 0 auto;
}


@include respond-to($xxl) {
  .container {
    max-width: 1280px;
    padding: 0 37px;
    background-color: mediumorchid;
  }
}

@include respond-to($xl) {
  .container {
    max-width: 1024px;
    background-color: royalblue;
  }
}

@include respond-to($lg) {
  .container {
    max-width: 768px;
    background-color: lightgreen;
  }
}

@include respond-to($md) {
  .container {
    max-width: 576px;
    background-color: goldenrod;
  }
}