@use "../../utils/mixins";
@use "../../utils/variables";

.action {
  background-color: #F7FAF5;

  .section__title {
    margin-bottom: 64px;
    sup{
        color: #46B600;
    }
  }

  &__item {
    position: relative;
    height: 160px;
    border-bottom: 1px solid #DEDEDE;
    margin-top: 48px;

    &.show {
      border-bottom-color: transparent;

      .action__item-overlay {
        opacity: 1;
        z-index: 2;
        transition: opacity .5s;
      }

      .card-action__title {
        position: absolute;
        font-size: 48px;
        max-width: 65%;
        text-align: center;
        color: #FFFFFF;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 65%;
        z-index: 10;
      }
    }
  }

  &__item-overlay {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
    z-index: 0;
    border-radius: 16px;
    overflow: hidden;
    pointer-events: none;
    transition: .35s;
  }
}

.card-action {
  display: flex;
  align-items: center;
  padding: 10px 0;

  .d-flex {
    align-items: center;
    flex-wrap: nowrap;
  }

  &__title {
    font-size: 28px;
    line-height: 1.2;
    font-weight: 450;

  }

  &__icon {
    width: 64px;
    height: 64px;
    box-shadow: 0 16px 32px -16px rgba(70, 182, 0, .75);

    background-color: #DDF3CF;
    background-repeat: no-repeat;
    background-position: center, 0 0;
    background-size: 48px 48px, cover;
    border-radius: 8px;
    margin-right: 24px;
    border: 1px solid #B3E394;
  }

  .part {
    width: 50%;

    &:last-child {
      padding-left: 15px;
    }
  }
}

@include mixins.respond-to(variables.$lg) {
  .action__item{
    height: 312px;
    &.show{
      .card-action__title{
        width: 100%;
        max-width: 100%;
        padding: 36px 48px;
      }
    }
  }
  .card-action {
    display: block;

    .part {
      width: 100%;

      &:last-child {
        padding-left: 0;
      }
      br{
        display: none;
      }
    }

    .d-flex {
      display: block;
    }
    &__icon{
      margin-bottom: 24px;
      margin-right: 0;
    }
    &__title{
      margin-bottom: 24px;
    }
  }
}

@include mixins.respond-to(variables.$sm) {
  .action__item {
    &.show {
      .card-action__title {
        font-size: 40px;
        line-height: 48px;
        padding: 16px;
        margin: 0;
      }
    }
  }



  .action__item{
    font-size: 20px;
    margin-top: 30px;
    height: 200px;
  }

  .card-action__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .card-action__icon{
    flex-shrink: 0;
    margin-right: 16px;

  }
 .card-action .d-flex{
    display: flex;
   align-items: flex-start;
  }
  .action__item.show .card-action__title{
    font-size: 34px;
  }
}