@use "../../utils/mixins";
@use "../../utils/variables";

.application {
  .section__title {
    font-weight: 600;
  }
}

.app-list {
  position: relative;
}

.app-carts {
  border: 1px solid rgba(142, 174, 108, .25);
  border-radius: 16px;
  padding: 24px;
  margin-bottom: 64px;
  background-color: #FFFFFF;

  box-shadow: 0px -16px 48px 0px #20261F1A;

  transform: perspective(1200px);
  position: sticky;
  top: 90px;

  &:last-child {
    margin-bottom: 0;
  }

  .block-btns {
    display: flex;
    padding-top: 45px;
  }

  .btn {
    display: flex;
    margin-right: 12px;
    width: 100%;

    &:last-child {
      margin-right: 0;
    }
  }

  &__row {
    display: flex;
  }

  &__col {
    position: relative;
    width: 47.25%;
    padding-left: 164px;
  }

  &__img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 74%;
  }

  &__heading {
    max-width: 384px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    height: 100%;
    color: #FFFFFF;
    border-radius: 16px;
    padding: 48px 32px;
    display: flex;
    justify-content: flex-end;

    > div {
      max-width: 190px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }

  .prep {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-transform: uppercase;
  }

  &:nth-child(2) {
    .dosage {
      order: 1;
      padding-right: 0;
      padding-left: 32px;
    }

    .app-carts {
      &__col {
        padding-left: 0;
        padding-right: 164px;
      }

      &__heading {
        justify-content: flex-start;
      }

      &__img {
        right: 0;
        left: auto;
      }
    }
  }
}

.slider-dosage {
  overflow: visible;

  .swiper-slide {
    width: auto;
    flex-grow: 1;
    flex-basis: 0;
    box-shadow: 16px 8px 32px 0 rgba(0, 0, 0, .06);
    margin-right: 16px;
    border-radius: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.dosage {
  width: 52.75%;
  padding-right: 32px;

  .time {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    margin-top: 8px;

    &__icon {
      position: relative;
      width: 32px;
      height: 32px;
      margin: 0 12px;

      &:before {
        position: absolute;
        content: '';
        display: block;
        width: 1px;
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
        right: -12px;
        background-color: rgba(100, 115, 98, .1);
        z-index: 1;
      }

      &:last-child:before {
        display: none;
      }
    }
  }

  &.drops {
    .card-dosage__body {
      padding-top: 0;
      padding-bottom: 16px;

      .time {
        margin: 0;
      }
    }
  }
}

.card-dosage {
  color: #647362;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  border-radius: 8px;
  background-color: #FFFFFF;
  font-weight: 500;
  text-align: center;
  overflow: hidden;


  &__footer.mob {
    display: none;
  }

  &__footer.desk {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;


  }

  &__header {
    background-color: #F7FAF5;
    padding: 16px;

  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.35;
    text-align: center;
    color: #20261F;
    margin-bottom: 4px;
  }

  &__icon {
    position: absolute;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .sub-title {
    text-transform: uppercase;

  }

  .number {
    display: inline-block;
    width: auto;
    padding-left: 24px;
    position: relative;
    font-size: 56px;
    font-weight: 600;
    line-height: 1.15;
  }

  &__body {
    color: #FF7436;
    font-size: 24px;
    line-height: 1.35;
    padding: 24px 8px;
  }

  &__footer {
    padding: 24px 0 16px;
    text-transform: uppercase;
    font-weight: 400;
    border-top: 1px solid rgba(100, 115, 98, .1);
  }
}


@include mixins.respond-to(variables.$xl) {
  .app-carts {
    &__heading {
      padding-top: 34px;
      padding-bottom: 34px;
    }

    &__col {
      padding-left: 134px;
    }

    &__img {
      top: auto;
      bottom: 0;
      width: 76%;
    }
  }
  .app-carts:nth-child(2) .app-carts__col {
    padding-right: 134px;
  }
}

@include mixins.respond-to(variables.$lg) {
  .app-carts {
    padding: 24px 16px;

    &__row {
      flex-direction: column;
    }

    &__img {
      max-width: 312px;
      top: 0;
    }

    &__col {
      width: 100%;
      padding-left: 0;
      padding-bottom: 32px;
      order: -1;
    }

    &__heading {
      max-width: 100%;
      min-height: 177px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &:nth-child(2) {
      .app-carts__heading {
        justify-content: flex-end;
      }

      .dosage {
        padding-left: 0;
      }

      .app-carts__col {
        padding-right: 0;
      }

      .app-carts__img {
        left: 0;
      }
    }

    .dosage {
      width: 100%;
      padding-right: 0;
    }
  }
}

@include mixins.respond-to(variables.$sm) {
  .application {
    .section__title {
      margin-bottom: 24px;
    }
  }
  .card-dosage {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 16px 8px 32px 0 rgba(0, 0, 0, .06);

    &__footer.desk {
      display: none;
    }

    &__header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
    }

    &__footer,
    &__body {
      width: 50%;
    }

    &__footer {
      border-top: none;
      border-left: 1px solid rgba(100, 115, 98, 0.1);
    }
  }
  .card-dosage__footer.mob {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .app-carts {
    overflow: hidden;
    top: 40px;

    &__img {
      display: none;
    }

    &__title {
      font-size: 16px;
    }

    &__heading {
      padding: 16px;
      min-height: 0;

      > div {
        max-width: 100%;
        width: 100%;
      }
    }

    &__col {
      padding-bottom: 8px;
    }

    .block-btns {
      padding-top: 24px;

      .btn {
        min-width: 0;
        padding-left: 32px;
        padding-right: 32px;
        height: 73px;
        width: auto;

        &_stroke-green {
          flex-grow: 1;
        }

        &__icon {
          margin-right: 0;
        }

        &:first-child {
          font-size: 0;
        }
      }
    }

    .prep {
      font-size: 28px;
    }
  }
  .slider-dosage {
    padding-bottom: 32px;

    .swiper-slide {
      flex-basis: inherit;
      margin-right: 0;
    }

    .swiper-pagination {
      display: block;
    }

    .swiper-pagination-bullets {
      width: 100%;
      text-align: center;
    }
  }
  .dosage.drops .card-dosage__body {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}