
.cards-line {
  position: relative;
  display: flex;
}

.slider-products {
  overflow: visible;
}

.btn-hot {
  box-shadow: 0 8px 12px 0 rgba(255, 116, 54, .15);
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  padding: 0;
  background-image: url('../assets/img/hot.svg'), linear-gradient(270deg, #FF4F00 0%, #FF7436 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  z-index: 2;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1) translate(100%, -50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: scale(1.1) translate(100%, -50%);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: scale(1) translate(100%, -50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
}

.card-product {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  min-height: 482px;
  border-radius: 16px;
  border: 1px solid rgba(32, 38, 31, .1);
  line-height: 1.2;
  transition: .5s;
  background: radial-gradient(circle at 75% 84%, rgba(70, 182, 0, 0) 25%, #ffffff 50%);
  margin-left: 24px;
  color: #647362;

  &:first-of-type {
    margin-left: 0;
  }

  &.bg-show {
    background: radial-gradient(circle at 75% 84%, rgba(70, 182, 0, 0.2) 25%, #ffffff 50%);

    .card__text,
    .title_sm,
    .card__title {
      opacity: 0;
    }
  }

  &:hover {
    .text_uppercase {
      transform: scale(.85);
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
  }

  sup {
    font-size: large;
    vertical-align: text-top;
  }

  .card__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 4px;
    color: #20261F;
    transition: .35s;
  }

  .text_uppercase {
    font-weight: 500;
  }

  .title_sm {
    display: inline-block;
    font-weight: 450;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 4px;
    transition: .35s;
  }

  .card__text {
    font-size: 14px;
    line-height: 1.2;
    transition: .35s;
  }

  &__header {
    position: relative;
    padding: 32px 138px 0 32px;
  }

  &__link-wrap {
    position: absolute;
    left: 32px;
    top: 32px;
    right: 32px;

    .link__icon {
      border: 1px solid #46B600;
      background-color: #FFFFFF;
    }

    &:last-child {
      top: 40px;
      transform: translateY(100%);

      .link__icon {
        background-image: url(../assets/img/icon-arrow.svg);
      }
    }
  }

  &__link-wrap a {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    color: #46B600;

    font-size: 24px;
    font-weight: 450;
    line-height: 1;
    text-transform: uppercase;
    border-radius: 100px;
    border: 1px solid #46B600;
    background-color: #ffffff;
    height: 64px;
    width: 64px;
    float: right;
    transition: width .5s ease-in-out;
    overflow: hidden;

    &:hover {
      width: 100%;

      .link__text {
        display: inline-block;
        padding: 0 0 0 32px;
        overflow: visible;
      }
    }

    &:focus {
      background-color: #ecf8e5;
    }
  }
}

.card-product_hot {
  opacity: 0;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(.85);
  width: 100%;
  max-width: 588px;
  color: #20261F;
  border: none;
  border-radius: 16px;
  box-shadow: 16px 8px 32px 0 rgba(0, 0, 0, .06);
  background-color: #FFFFFF;
  margin: 0;
  min-height: 0;
  max-height: 400px;

  .part {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .label {
    position: absolute;
    width: 100%;
    left: -110px;
    top: -10px;
    transform: rotate(-45deg);
    color: #ffffff;
    background-color: #FF7436;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.4px;
    letter-spacing: -0.02em;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 16px 6px;
  }

  .title_md {
    font-weight: 600;
    font-size: 64px;
    line-height: 60.8px;
    letter-spacing: -0.02em;
    color: #FF6B29;

    float: left;
    clear: both;
  }

  .sub-title {
    text-transform: uppercase;
    margin-bottom: 32px;

    .title_md {
      margin-right: 15px;
    }
  }

  .small-text {
    font-weight: 450;
    font-size: 24px;
    line-height: 26.4px;

  }

  .card-product__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    padding: 22px 48px;
    text-align: center;
    color: #20261F;
    font-weight: 450;
    font-size: 20px;
    line-height: 1;
    width: 206px;
    text-transform: uppercase;
    border: 1px solid #FF7436;
    border-radius: 100px;
  }

  .icon {
    width: 24px;
    height: 24px;
    background-image: url(../assets/img/arrow-down-gray.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
    margin-left: 8px;

  }

  &.show {
    opacity: 1;
    z-index: 100;
    pointer-events: all;
    transform: translate(-50%, -50%) scale(1);
  }

  sup {
    font-size: .56em;
  }

  .part_left {
    position: relative;
  }

  .part_right {
    overflow: hidden;
    border-radius: 8px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.card-product_inner {
  position: relative;
  display: flex;
  padding: 32px 24px;
  overflow: hidden;
  min-height: 0;
  height: 400px;
}

.link__text {
  width: 0;
  overflow: hidden;
}

.link__icon {
  position: absolute;
  right: 1px;
  display: inline-block;
  width: 62px;
  height: 62px;
  background-image: url(../assets/img/icon-cart.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  border-radius: 50%;
}

@include respond-to($xxl) {
  .btn-hot {
    transform: translate(50%, -50%);
    right: 90px;
  }
}

@include respond-to($xl) {
  .card-product__header {
    padding: 16px 78px 0 16px
  }
  .card-product__link-wrap {
    right: 16px;
  }
  .card-product {
    margin-left: 20px;
  }
}

@include respond-to($lg) {
  .slider-products {
    overflow: hidden;
    padding-bottom: 74px;

    .swiper-pagination {
      bottom: 0;
      width: 100%;
      text-align: center;
      display: block !important;
    }

    .swiper-pagination-bullet {
      width: 55px;
    }
  }
  .card-product__header {
    padding: 32px 94px 0 24px;
  }
  .card-product__link-wrap {
    right: 24px;
  }
  .card-product {
    flex-basis: inherit;
    margin: 0;
  }
}

@include respond-to($md) {
  .card-product__header {
    padding: 32px 94px 0 32px;
  }
  .card-product__link-wrap {
    right: 32px;
  }
  .card-product__header {
    padding: 32px 138px 0 32px;
  }
  .card-product_hot {
    max-width: 343px;

    .part_right {
      display: none;
    }

    .part_left {
      width: 100%;
    }

    .title_md {
      font-size: 61px;
      line-height: 58px;
      letter-spacing: -0.02em;
    }

    .small-text {
      font-size: 26px;
      line-height: 29px;
    }

    .card-product__link {
      width: 100%;
    }

    .label {
      left: -122px;
    }
  }
  .card-product__inner {
    padding: 45px 24px;
  }
}

@include respond-to($sm) {
  .card-product__header {
    padding: 16px 94px 0 16px
  }
  .card-product__link-wrap {
    right: 16px;
  }
}

@media screen and (max-width: 360px) {
  .card-product_inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  .card-product_hot .label {
    left: -104px;
  }
}