.section-banner {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 100vh;
  color: #ffffff;
  margin-bottom: 80px;

  &:before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .35;
    background-image: linear-gradient(90deg, #46B600 0%, rgba(70, 182, 0, 0.45) 100%);
    z-index: 1;
  }

  &__thumb {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 0;
  }

  .background-video,
  .banner-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .part_left {
    max-width: 792px;
    width: 100%;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .title_lg {
    margin-bottom: 48px;

    strong {
      font-weight: 500;
    }
  }

  .btn {
    margin-right: 14px;
    padding: 22px 48px;
    &:last-child {
      margin-right: 0;
    }
  }
}

@include respond-to($lg) {
  .section-banner {
    margin-bottom: 64px;
    .title_lg{
      font-size: 72px;
    }
  }
}

@include respond-to($md) {
.section-banner {
  padding-top: 96px;
  .title_lg {
    font-size: 48px;
    line-height: 57.6px;
    margin-bottom: 48px;
  }
}
}

@include respond-to($sm) {
  .section-banner {
    margin-bottom: 32px;
  }
  .section-banner .btn {
    margin-right: 0;
    margin-bottom: 16px;
    width: 100%;
    justify-content: center;
  }
}
